<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THERMOSTAT</title>
  </head>
  <body>

    <h1 id="temperature"></h1>

    <button id="up">Up</button>
    <button id="down">Down</button><br>
    <button id="reset_thermostat">Reset</button><br>
    <button id="save_on">Save On</button>
    <button id="save_off">Save Off</button>


    <script type="text/javascript" src="js/thermostat.js"></script>
    <script type="text/javascript" src="js/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>

</html>
