<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THERMOSTAT</title>
    <script src="js/thermostat.js"></script>
    <script src="js/lib/jquery-3.1.1.min.js"></script>
  </head>
  <body>








    <button id="up">Up</button>
    <button id="down">Down</button><br>
    <button id="reset">Reset</button><br>
    <button id="save_on">Save On</button>
    <button id="save_off">Save Off</button>
    
  </body>
</html>
